@import "tailwindcss";
@font-face {
  font-family: "iranYekan";
  src: url("../public/IranYekan.woff2") format("woff-variations");
}
*:focus {
  outline: none !important;
}
body {
  font-family: "iranYekan";
}

.main-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: url("../public/texture.png");
  background-size: 30%;
  background-repeat: repeat;

  opacity: 0.02 ; /* میزان شفافیت تکسچر */
  pointer-events: none;
  z-index: 0;
}

.main-container > * {
  z-index: 1;
}
::view-transition-group(.morph) {
  animation-duration: 250ms;
}
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
}

::view-transition-group(root) {
  z-index: -1;
}
::view-transition-old(.morph) {
  animation: morph-exit 250ms;
  -webkit-animation: morph-exit 250ms;
}

::view-transition-new(.morph) {
  animation: morph-enter 250ms;
  -webkit-animation: morph-enter 250ms;
}

::view-transition-image-pair(.morph) {
  animation: none;
}

@keyframes morph-enter {
  from {
    opacity: 0.4;
    scale: 0.9;
    filter: blur(8px);
  }

  to {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }
}

@keyframes morph-exit {
  from {
    opacity: 1;
    scale: 1;
    filter: blur(0);
  }

  to {
    opacity: 0.4;
    scale: 0.9;
    filter: blur(8px);
  }
}
